<div class="container">

    <div data-am-fadeshow="next-prev-navigation">

        <!-- Radio -->
        <input type="radio" name="css-fadeshow" id="slide-1" />
        <input type="radio" name="css-fadeshow" id="slide-2" />
        <input type="radio" name="css-fadeshow" id="slide-3" />

        <!-- Slides -->
        <div class="fs-slides">
            <div class="fs-slide">
                <img src="/assets/product/vitton.jpg " style="width: 420px; position: center;">
                <!-- Add content to images (sample) -->
                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-family: sans-serif; text-align: center; text-shadow: 0 0 20px rgba(0,0,0,0.5);">
                    <h1 style="margin-top: 0; margin-bottom: 0.8vw; font-size: 5vw; font-weight: bold;">Matteo Shop</h1>
                    <p style="font-size: 2vw; font-weight: 100; margin-top: 0;">Benvenuto nell'eccomerce di <strong>Matteo</strong> </p>
                </div>
            </div>
            <div class="fs-slide" > 
                <img src="/assets/product/gucci.jpg " style="width: 420px; position: center;">
            </div>
            <div class="fs-slide" ></div>
            <img src="/assets/product/versace.jpg " style="width: 420px; position: center;">
        </div>

        <!-- Quick Navigation -->
        <div class="fs-quick-nav">
            <label class="fs-quick-btn" for="slide-1"></label>
            <label class="fs-quick-btn" for="slide-2"></label>
            <label class="fs-quick-btn" for="slide-3"></label>
        </div>

        <!-- Prev Navigation -->
        <div class="fs-prev-nav">
            <label class="fs-prev-btn" for="slide-1"></label>
            <label class="fs-prev-btn" for="slide-2"></label>
            <label class="fs-prev-btn" for="slide-3"></label>
        </div>

        <!-- Next Navigation -->
        <div class="fs-next-nav">
            <label class="fs-next-btn" for="slide-1"></label>
            <label class="fs-next-btn" for="slide-2"></label>
            <label class="fs-next-btn" for="slide-3"></label>
        </div>

    </div>
</div>
<div class="bottone" routerLink="/customize">
    <a class="myButton">PERSONALIZZA ORA</a>
</div>